/* Start Header */
    .header-content{
        position: relative;
        .site-nav{
            box-shadow: none;
            background-color: transparent;
            padding: 15px 0;
        }

        .nav{
            position: absolute;
            top: 20px;
            left: 85px;
            border:1px solid #fff;
            background-color: #eee;
            border-radius: 12px;
            padding: 0 15px;
            background-color: hsla(0,0%,100%,.9);
        nav {
            padding: 0 ;


        }
            a{
                img{
                    margin-bottom: -60px;
                }
            }
            .navbar-collapse{
                // position: relative;
                ul{
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    font-family: arial;

                li{
                        font-weight: bold;
                        padding: 0 10px;
                        font-size: 15px;
                        position: relative;



                    
                    a{
                        color: $greenColor;
                        &:hover{
                            color: red;
                        }
                        &:hover .dropdown-menu{
                             display: none;
                                }

                    }
                     ul{ 
                     
                        border: 2px solid black;
                        position: absolute;
                        top:90px;
                        left: 0;
                        background-color: #fff;

                         li{
                        // display: none;
                        visibility: hidden;
                        padding: 3px;

                        a{
                            color: $greenColor;
                            padding:5px 10px
                            
                        }
                  &:hover{
                      background-color: red;
                      &:hover a{
                          color: #fff;
                          text-decoration: none;
                      }
                  }

                       }
                }   

                &:hover  ul  {
                    // display: block;
                    visibility: visible;

                }
            }

            }
        }
          
           .impressum-link{
               margin-top: auto;
               margin-left: auto;
               a{
                   color: $greenColor;
                   text-decoration: none ;
               }
           }
        }
/*=========================
/* scroll up 
============================*/
.scroll {
    background-color:#eee;
    color:$greenColor;
    text-align: center;
    position:fixed;
    height:40px;
    width:40px;
    line-height: 45px;
    right:50%;
    bottom:20px;
    border-radius:50%;
    display:none;
}

.scroll i{
    font-size:25px;
}
.scroll:hover
{
    opacity:.7;
    line-height: 40px;
    background-color:white;
    color:#921d1d;  
      border:3px solid #921d1d;
   z-index:9999;
    cursor: pointer;
    -webkit-transition:all .7s ease-in-out;
-moz-transition:all .7s ease-in-out;
-o-transition:all .7s ease-in-out;
transition:all .7s ease-in-out;
}

/* end scroll up */


    }
/* End of Header */